In [ ]:
import torch
import pandas as pd
import numpy as np
from transformers import BertTokenizer, BertForSequenceClassification
print("finished")

C:\Users\ravn1\AppData\Roaming\Python\Python312\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
df = pd.read_csv('https://gist.githubusercontent.com/Mukilan-Krishnakumar/e998ecf27d11b84fe6225db11c239bc6/raw/74dbac2b992235e555df9a0a4e4d7271680e7e45/imdb_movie_reviews.csv')
df = df.drop('sentiment',axis=1)
df.head()

                                                text
0  My daughter liked it but I was aghast, that a ...
1  I... No words. No words can describe this. I w...
2  this film is basically a poor take on the old ...
3  This is a terrible movie, and I'm not even sur...
4  First of all this movie is a piece of reality ...

In [8]:
tokenizer = BertTokenizer.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')
model = BertForSequenceClassification.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')

In [9]:
def sentiment_score(movie_review):
	token = tokenizer.encode(movie_review, return_tensors = 'pt')
	result = model(token)
	return int(torch.argmax(result.logits))+1

In [10]:
df['sentiment'] = df['text'].apply(lambda x: sentiment_score(x[:512]))

In [11]:
df.head()

                                                text  sentiment
0  My daughter liked it but I was aghast, that a ...          3
1  I... No words. No words can describe this. I w...          1
2  this film is basically a poor take on the old ...          2
3  This is a terrible movie, and I'm not even sur...          1
4  First of all this movie is a piece of reality ...          4

In [13]:
df

                                                  text  sentiment
0    My daughter liked it but I was aghast, that a ...          3
1    I... No words. No words can describe this. I w...          1
2    this film is basically a poor take on the old ...          2
3    This is a terrible movie, and I'm not even sur...          1
4    First of all this movie is a piece of reality ...          4
..                                                 ...        ...
130  <br /><br />**********SPOILER ALERT***********...          1
131  if i had watched this movie when i hit rock bo...          4
132  The way i found out about this movie was when ...          4
133  One of the more interesting films I've seen. L...          5
134  The film is somewhat entertaining, but the gre...          4

[135 rows x 2 columns]